@using ToDoApp.Web.ViewModels.Task
@model List<TaskAllViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="d-flex align-items-center justify-content-between">
        <div>
            <h2 class="d-inline">Your tasks</h2>
        </div>
        <div class="d-flex align-items-center justify-content-between nav-buttons">
            <a class="btn btn-primary d-inline" asp-controller="Task" asp-action="AllDoneTasks" role="button">Your done tasks</a>
            @if (Model.Count != 0)
            {
                <a asp-controller="Task" asp-action="Add" class="btn btn-primary d-inline">Add</a>
            }
        </div>
    </div>
    <hr />
</div>
<div>
    @if (Model.Count == 0)
    {
        <div class="mx-auto">
            <h4 class="text-center">You do not have any tasks yet</h4>
        </div>
        <div class="d-block align-items-center">
            <a class="btn btn-primary" asp-controller="Task" asp-action="Add" role="button">Add</a>
        </div>
    }
    else
    {
        <div class="row">
            @foreach (var task in Model)
            {
                <div class="col-md-3">
                    <div class="card mb-2 d-flex align-items-center">
                        <h4>@task.Title</h4>
                        <p style="margin-bottom: 0rem">Added on: @task.CreatedOn<p>
                        <p style="margin-bottom: 0rem">Deadline: @task.Deadline<p>
                            <div class="buttons card-buttons">
                                <a asp-controller="Task" asp-action="Details" asp-route-id="@task.Id" class="btn btn-warning">Details</a>
                                <a asp-controller="Task" asp-action="Done" asp-route-id="@task.Id" class="btn btn-success">Done</a>

                            </div>
                    </div>
                </div>
            }
        </div>
    }
</div>

<partial name="_Styles" />